Repository aerogear/graphback, pull requests merged in 2020-07, with the labels that each got.

#1636 docs(getting-started): getting started section
  docs/databases/introduction.md
  docs/getting-started/adding-graphback-to-your-project.md
  docs/getting-started/creating-a-new-application.md
  docs/intro-to-graphback.md
  docs/model/your-datamodel.md
  website/docusaurus.config.js
  website/sidebars.json
Labels: docs, work in progress

#1654 docs(website): add GraphQL Serve docs
  docs/graphqlserve/graphqlserve.md
  packages/graphql-serve/README.md
  website/sidebars.json
Labels: docs

#1665 docs(website): move datasync docs to the new website layout
  docs/datasync/intro.md
  docs/datasync/soft-delete.md
  website/sidebars.json
Labels: docs

#1657 docs(website): add database migrations documentation
  docs/databases/migrations.md
  docs/graphql-migrations/api-reference.md
  docs/graphql-migrations/db-design.md
  docs/graphql-migrations/filter.md
  docs/graphql-migrations/intro.md
  docs/graphql-migrations/plugins.md
  website/sidebars.json
Labels: docs

#1666 docs(website): add how to use plugins in graphql migrations
  docs/graphql-migrations/db-design.md
  docs/graphql-migrations/plugins.md
Labels: docs

#1674 docs(website): add operations filter in graphql migrations docs
  docs/graphql-migrations/api-reference.md
  docs/graphql-migrations/filter.md
  docs/graphql-migrations/operation-filters.md
  website/sidebars.json
Labels: docs

#1691 docs(website): add databases overview page and update links
  docs/databases/introduction.md
  docs/databases/sqlite.md
  docs/getting-started/adding-graphback-to-your-project.md
  docs/intro-to-graphback.md
  docs/model/annotations.md
  website/sidebars.json
Labels: docs

#1692 docs: mongo databases
  docs/databases/mongodb.md
Labels: docs

#1698 docs(website): add postgres database documentation
  docs/databases/mongodb.md
  docs/databases/postgres.md
Labels: docs

#1701 docs(website): add sqlite database documentation
  docs/databases/mongodb.md
  docs/databases/postgres.md
  docs/databases/sqlite.md
  packages/graphback-runtime-knex/src/index.ts
Labels: docs

#1706 docs(plugins): add creating your own plugin guide
  docs/plugins/creating-your-own-plugin.md
Labels: docs

#1725 docs(website): add docs for the newly added create-graphback cli
  docs/cli/create-graphback.md
  docs/cli/create-graphql.md
  docs/getting-started/creating-a-new-application.md
  packages/create-graphback/README.md
  packages/create-graphback/package.json
  website/sidebars.json
Labels: docs

#1726 chore: add datasync templates to workspace
  package.json
Labels: datasync, templates

#1733 test(data-providers): add test for "not in" filters
  packages/graphback-runtime-knex/tests/data/KnexDbDataProviderTest.ts
  packages/graphback-runtime-mongodb/tests/MongoDataProviderTest.ts
Labels: tests

#1739 docs(blog): add a 0.14 release blog post
  website/blog/new-graphback-release-0-14.md
  website/docusaurus.config.js
Labels: docs

#1774 chore: update docusaurus version to latest alpha release
  website/docusaurus.config.js
  website/package.json
Labels: chore

#1779 chore: auto issue labeler
  .github/autoissuelabeler.yml
  .github/workflows/auto-issue-label.yml
Labels: chore

#1785 docs: generate api reference docs using typedoc
  .gitignore
  docs/api/build-graphback-api.md
  docs/api/create-crud-service.md
  docs/api/create-knexdb-provider.md
  docs/api/create-mongodb-provider.md
  docs/api/graphback-crud-service.md
  docs/api/graphback-data-provider.md
  docs/databases/mongodb.md
  docs/databases/postgres.md
  docs/databases/sqlite.md
  docs/datasync/intro.md
  docs/getting-started/adding-graphback-to-your-project.md
  docs/plugins/client-crud-plugin.md
  docs/plugins/schema-crud-plugin.md
  package.json
  packages/create-graphback/README.md
  packages/graphback-cli/README.md
  packages/graphback-codegen-client/README.md
  packages/graphback-codegen-schema/README.md
  packages/graphback-core/README.md
  packages/graphback-datasync/README.md
  packages/graphback-keycloak-authz/README.md
  packages/graphback-runtime-knex/README.md
  packages/graphback-runtime-mongodb/README.md
  packages/graphback-runtime/README.md
  packages/graphback/README.md
  packages/graphql-migrations/README.md
  packages/graphql-serve/README.md
  scripts/generateApiDoc.sh
  website/README.md
  website/sidebars.json
Labels: docs
