Repository aerogear/graphback, pull requests merged in 2020-09, with the labels that each got.

#1983 docs: update graphql serve docs
  docs/graphqlserve/graphqlserve.md
  website/versioned_docs/version-0.16.x/graphqlserve/graphqlserve.md
Labels: docs

#1991 perf: update perf data following 0.16.1 release
  performance/results/0.16.1-graphback-apollo-express-large-schema.json
  performance/results/0.16.1-graphback-apollo-express-medium-schema.json
  performance/results/0.16.1-graphback-apollo-express.json
  performance/results/0.16.1-graphback-apollo-fastify.json
  performance/results/0.16.1-graphback-apollo-hapi.json
  performance/results/0.16.1-graphback-apollo-koa.json
  performance/results/apollo-express.json
  performance/results/apollo-fastify.json
  performance/results/apollo-hapi.json
  performance/results/apollo-koa.json
Labels: chore

#1994 docs(templates): update templates README
  templates/ts-apollo-mongodb-backend/README.md
  templates/ts-apollo-mongodb-datasync-backend/README.md
  templates/ts-apollo-postgres-backend/README.md
  templates/ts-react-apollo-client/README.md
Labels: templates

#2008 docs: update release notes
  docs/releases.md
  website/versioned_docs/version-0.16.x/releases.md
Labels: docs

#2018 refactor(core): no need to await for publish as it can be done asynchronously
  packages/graphback-core/src/runtime/CRUDService.ts
Labels: CRUD

#2026 fix(graphql-serve): print-schema command was not working
  packages/graphql-serve/src/commands/printSchema.ts
Labels: cli

#2053 docs(graphback-cli): add generate command documentation
  docs/cli/graphback-cli.md
  packages/graphback-cli/README.md
  website/versioned_docs/version-0.14.x/cli/graphback-cli.md
  website/versioned_docs/version-0.15.x/cli/graphback-cli.md
  website/versioned_docs/version-0.16.x/cli/graphback-cli.md
Labels: docs

#2060 perf: add a raw graphback using fastify graphql benchmark server
  performance/benchmarks/graphback-fastify.js
  performance/package.json
  performance/results/0.16.2-apollo-express.json
  performance/results/0.16.2-apollo-fastify.json
  performance/results/0.16.2-apollo-hapi.json
  performance/results/0.16.2-apollo-koa.json
  performance/results/0.16.2-graphback-apollo-express-large-schema.json
  performance/results/0.16.2-graphback-apollo-express-medium-schema.json
  performance/results/0.16.2-graphback-apollo-express.json
  performance/results/0.16.2-graphback-apollo-fastify.json
  performance/results/0.16.2-graphback-apollo-hapi.json
  performance/results/0.16.2-graphback-apollo-koa.json
  performance/results/0.16.2-graphback-fastify.json
Labels: perf

#2071 fix(graphql-migrations): migration failed for auto increments column
  integration/package.json
  integration/tests/graphql-migrations-postgres.ts
  packages/graphql-migrations/src/connector/read.ts
  packages/graphql-migrations/src/diff/computeDiff.ts
  packages/graphql-migrations/src/util/isAutoIncrementableColumn.ts
Labels: graphql-migrations

#2067 docs: Updated README for the ts-react-apollo-client
  templates/ts-react-apollo-client/README.md
  templates/ts-react-apollo-client/readme-diagram.png
Labels: docs

#2130 fix: remove indent from generated query
  packages/graphback-codegen-client/src/templates/gqlTemplates.ts
  packages/graphback-codegen-client/tests/__snapshots__/GraphQLClientCreatorTest.ts.snap
Labels: plugins
